[submodule "TeraCommon"]
	path = TeraCommon
	url = https://github.com/OutlanderZOR/Tera.Core
[submodule "resources/data"]
	path = resources/data
	url = https://github.com/OutlanderZOR/TeraDpsMeterData
